@mixin md{
    @media (min-width: 1200px) { @content; }
}
.c-step{
    background-color: #222222; 
    padding: 60px 0px;
    
    .img-step{
        min-height: 60vh;
        padding: 0px;
        img{
            height:  100%;
            object-fit: cover;
            width: auto;
            width: 100%;

            @include md{
                object-fit: contain;
            }
        }
    }
    .row{
        position: relative;
        background-color: #222222  ;
        border: 1px solid #323131;
        justify-content: space-around;
    }
    .col-content{
        padding: 30px 0px;
        min-height: 60vh;
        position: absolute;
        background-color: rgba(00,00,00, 0.6);

        @include md{
            background-color: transparent;
            position: relative;
        }
    }
    h1{
        color: $color-text;
        font-size: 28px;
        letter-spacing: -1px;
        font-style: italic;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;

        @include md{
            text-align: start;
        }
    }
    
    .slick__step{
        width: 90%;
        margin: 0px auto;
        @include md{
            width: 100%;
        }
        .item{
            position: relative;
            padding: 48px 32px 48px 0px;
            height: 200px;

            &::before{
                content: '';
                background-color: $color-secundary;
                height: 2px;
                width: 20%;
                position: absolute;
                bottom:0px;
                left:0px;
            }

            h2{
                color: $color-text-secundary;
                font-style: italic;
                font-size: 25px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
                font-weight: 300;
                color: $color-text;
            }
        }
    }
    .payment{
        background-color: #323131;
        padding: 20px 0px;

        p{
            color: $color-text;
            text-align: center;
            font-size: 16px;
            font-weight: 350;

             strong{
                font-weight: 600;
             }
        }
    }
}