
@mixin md{
    @media (min-width: 1200px) { @content; }
}

.c-modal-shirt, .c-modal-vote {
    .modal-dialog{
        max-width: 900px;
    }
    .modal-content{
        position: relative;

        @include md{
            height: 512px;
        }
        .close{
           background-color: #DCB16D;
           width: 30px;
           height: 30px;
           position: absolute;
           top: 0px;
           border: none;
           z-index: 999;
           right: 0px;

           span{
               font-family: 'gotham';
               font-weight: 700;
               font-size: 20px;
           }
        }
    }
    .modal-body{
        background-color: #323131;
        padding: 0;

        .col-img{
            padding: 0px;
        }
        .col-content{
            padding: 32px 32px;
            &_vote{
                padding: 32px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include md{
                    padding: 0px 32px;
                }
            }
            @include md{
                padding: 0px 64px;
            }
            &-cupom{
                display: none;
                padding: 32px;

                &.active{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                @include md{
                    padding: 0px 64px;
                }
            }
        }
        .modal{
            &-img{
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
            &-title{
                font-family: 'gotham';
                font-size: 18px;
                color: #fff;
                font-weight: 700;
                font-style: italic;
                text-transform: uppercase;

                &_vote{
                    font-size: 16px;
                    margin-top: 16px;
                    text-align: center;

                    strong{
                        font-weight: 700;
                    }
                }
                
            }
            &-describe{
                font-family: 'Gotham';
                font-size: 13px;
                font-style: normal;
                color: #fff;
                font-weight: 400;
                margin-top:16px;
                line-height: 1.5rem;
                margin-bottom: 24px;

                &_vote{
                    text-align: center;
                    margin-top: 8px;
                    &-cupom{
                        margin-bottom: 16px;
                    }
                }
                &_cupom{
                    text-align: center;
                    margin-top: 8px;
                    margin-bottom: 16px;
                    font-size: 13px;
                    color: #818181;
                }
            }
            &-button{
                width: 100%;
                background-color: #DCB16D;
                color: #181716;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                height: 50px;
                font-weight: 650;
                font-size: 14px;

                &_vote{
                    height: 45px;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                &:hover{
                    text-decoration: none;
                }
            }
            &-politica{
                margin: 8px 0px 16px 0px;
                color: #939393;
                font-size: 12px;
                input{
                    width: 10px;
                    height: 10px;
                }
                a{
                    text-decoration: underline;
                    color: #939393;
                }
            }
            &-share-options{
                margin-top:16px;
                display: flex;
                .btn-share{
                    width: 50px;
                    height: 50px;
                    margin: 0px 4px;
                    border: #939393 1px solid;
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;


                }
            }
        }
        .name-cupom{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            width: 100%;
            height: 50px;
            text-decoration: none;
            font-family: 'gotham';
            color:#FFFFFF;
            border: 1px #DCB16D solid;
            font-weight: 700;
            font-size: 20px;
            border-radius: 2px;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            img{
                margin: 0px 8px;
            }
            &.copied {
                &:before {
                    content: "Cupom Copiado";
                    display: block;
                    font-size: 10px;
                    position: absolute;
                    top: -20px;
                    background-color: #181716;
                    color: #DCB16D;
                    border: 1px solid #323131;
                    border-radius: 4px;
                    padding:2px 8px;
                    right: 0;

                }


            }
        }
    }
    .msg-resp{
        display: flex;
        justify-content: center;
    }
}