.c-shirt{
    padding: 60px 0px 60px 0px;
    background-color: #222222;

    @include md{
        padding: 100px 0px 60px 0px;
    }

    h1{
        color: $color-text;
        font-size: 28px;
        letter-spacing: -1px;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
    }

    .club_shirt{
        display:none;
        
        &.active{
            display: flex;
            flex-direction: column;
            
        }
        .club_shirt-content{
            max-height: 600px;
            overflow: hidden;
            display: flex;

            @include md{
                flex-direction: column;
                max-height:80000px;
            }


            &.all{
                max-height: 50000px;
            }
        }
    }
    .selection_shirt{
        display:none;
        

        .selection_shirt-content{
            max-height: 600px;
            overflow: hidden;
            display: flex;

            @include md{
                flex-direction: column;
                max-height:80000px;
            }

            &.all{
                max-height: 50000px;
            }
        }

        &.active{
            display: flex;
            flex-direction: column;

        }
       
    } 
    .regional_shirt{
        display:none;

        &.active{
            display: flex;
            flex-direction: column;
        }
        .regional-shirt-content{
            max-height: 600px;
            overflow: hidden;
            display: flex;
            transition: ease-in-out 0.5s;

            @include md{
                flex-direction: column;
                max-height: 800000px;
            }

            &.all{
                max-height: 50000px;
                transition: ease-in-out 0.5s;
            }
        }
    }

    .box-btn{
        .btn-section{
            margin: 0px 8px;
            background-color: transparent;
            border: none;
            color: $color-text;
            text-transform: uppercase;
            font-weight: 650;
            font-size: 15px;
            letter-spacing: -1px;
            font-style: italic;
            
            @include md{
                font-size: 18px;
            }
            &.active{
                border-bottom: 1px solid $color-secundary;
                
            }
            &:hover{
                text-decoration: none;
            }
        }
    }
    .shirt{
        &-card{
            padding: 0px;
            width: 97%;
            height: 200px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            margin: 0px 8px;
            margin-bottom: 16px;

            @include md{
                width: 20%;
                margin:0px 8px !important;
                height: 330px;
                margin: 0;
            }

            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
                position: relative;
                top: -50%;
                transform: translateY(50%);
            }

            &:hover{
                border: 1px solid #DCB16D;

                
            }
        }
        &-content{
            background-color: rgba(18,17,16 , 0.9);
            position: absolute;
            bottom: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 80px;
            justify-content: center;
            padding: 16px 16px;

            @include md{
                height: 100px;
                padding: 0px 32px;
            }

            h1{
                color: $color-text;
                font-size: 13px;
                letter-spacing: -1px;
                font-style: italic;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;

                @include md{
                    font-size: 18px;
                }
            }

            a{
                color: $color-text-secundary;
                font-size: 13px;
                font-weight: 300;

                @include md{
                    font-size: 16px;                    
                }

                &:hover{
                    color: $color-text-secundary;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        &-fav{
            background-color: rgba(18,17,16 , 0.7);
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: none;
            position: absolute;
            top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 8px;

            &.active{
                background-color: #DCB16D;

                &:hover{
                    .star{
                        display: block;
                    }
                    .star-hover{
                        display: none;
                    }
                }
            }
            .star{
                width: 20px;
                height: 20px;
                object-fit: cover;
                top: 0px;
                transform: translateY(0);
            }
            .star-hover{
                display: none;
                width: 20px;
                height: 20px;
                object-fit: cover;
                top: 0px;
                transform: translateY(0);
            }
            &:hover{
                .star{
                    display: none;
                }
                .star-hover{
                    display: block;
                }
            }
        }

        
    }

    .see-more{
        padding: 12px 20px;
        border: 1px solid $color-secundary;
        font-size: 18px;
        color: $color-text-secundary;
        margin: 32px auto 16px auto;
        text-transform: uppercase;
        cursor: pointer;
        font-style: italic;
        font-weight: 700;
        text-decoration: none;

        @include md{
            display: none;
        }
    }
}