.c-shirt{
    padding: 60px 0px 60px 0px;
    background-color: #222222;

    @include md{
        padding: 100px 0px 60px 0px;
    }

    h1{
        color: $color-text;
        font-size: 28px;
        letter-spacing: -1px;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
    }

    .club_shirt{
        display:none;
        
        &.active{
            display: block;
            
        }
        .club_shirt-content{
            max-height: 600px;
            overflow: hidden;

            &.all{
                max-height: 50000px;
            }
        }
    }
    .selection_shirt{
        display:none;
        

        .selection_shirt-content{
            max-height: 600px;
            overflow: hidden;

            &.all{
                max-height: 50000px;
            }
        }

        &.active{
            display: flex;
            flex-direction: column;

        }
       
    } 
    .regional_shirt{
        display:none;

        &.active{
            display: flex;
            flex-direction: column;
        }
        .selection_shirt-content{
            max-height: 600px;
            overflow: hidden;

            &.all{
                max-height: 50000px;
            }
        }
    }

    .box-btn{
        .btn-section{
            margin: 0px 8px;
            background-color: transparent;
            border: none;
            color: $color-text;
            text-transform: uppercase;
            font-weight: 650;
            font-size: 18px;
            letter-spacing: -1px;
            font-style: italic;

            &.active{
                border-bottom: 1px solid $color-secundary;
            }
        }
    }
    .shirt{
        &-card{
            padding: 0px;
            width: 20%;
            height: 330px;
            position: relative;
            margin-right: 16px;
            overflow: hidden;
            cursor: pointer;

            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
                position: relative;
                top: -50%;
                transform: translateY(50%);
            }

            &:hover{
                border: 1px solid #DCB16D;

                img{
                    transform: scale(1.15);
                    top: 0%;
                }
                
            }
        }
        &-content{
            background-color: rgba(18,17,16 , 0.9);
            position: absolute;
            bottom: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100px;
            justify-content: center;

            h1{
                color: $color-text;
                font-size: 18px;
                letter-spacing: -1px;
                font-style: italic;
                font-weight: 700;
                text-transform: uppercase;
            }

            a{
                color: $color-text-secundary;
                font-size: 16px;
                font-weight: 300;

                &:hover{
                    color: $color-text-secundary;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        &-fav{
            background-color: rgba(18,17,16 , 0.7);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            position: absolute;
            top: 8px;
            right: 8px;
        }

        
    }

    .see-more{
        padding: 12px 20px;
        border: 1px solid $color-secundary;
        font-size: 18px;
        color: $color-text-secundary;
        margin: 32px auto 16px auto;
        text-transform: uppercase;
        cursor: pointer;
        font-style: italic;
        font-weight: 700;
    }
}